$sz-xxs: $fallback--base-rem-space-unit / 8; // 3px
$sz-xs: $fallback--base-rem-space-unit / 4; // 6px
$sz-s: $fallback--base-rem-space-unit / 2; // 12px
$sz-m: $fallback--base-rem-space-unit; // 24px
$sz-l: $fallback--base-rem-space-unit * 2; // 48px
$sz-xl: $fallback--base-rem-space-unit * 4; // 96px
$sz-xxl: $fallback--base-rem-space-unit * 8; // 192px