html.wireframe {
   /*--wf-box-bg: #F7F6F1BB;*/
   --wf-box-bg: #ddd;
   --wf-wire: #333;
}

.wireframe body {
    filter: grayscale(1);
}

.wireframe [data-wf] {
    outline: 1px solid var(--wf-wire);
    position: relative;
    z-index: 1;
    
    display: flow-root;
}

.wireframe [data-wf]::before {
    position: absolute;
    z-index: 999;
    opacity: 0.7;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

   background:
        linear-gradient(to top right,
            transparent calc(50% - 1px), var(--wf-wire) calc(50% - 1px),
            var(--wf-wire) calc(50% + 1px), transparent calc(50% + 1px)),
        linear-gradient(to bottom right,
            transparent calc(50% - 1px), var(--wf-wire) calc(50% - 1px),
            var(--wf-wire) calc(50% + 1px), transparent calc(50% + 1px)),
        var(--wf-box-bg);

    /*
   background:
        radial-gradient(ellipse at center,
            rgba(255,255,255,1) 10%,rgba(255,255,255,0) 10%),
        linear-gradient(to top right,
            transparent calc(50% - 1px), var(--wf-wire) calc(50% - 1px),
            var(--wf-wire) calc(50% + 1px), transparent calc(50% + 1px)),
        linear-gradient(to bottom right,
            transparent calc(50% - 1px), var(--wf-wire) calc(50% - 1px),
            var(--wf-wire) calc(50% + 1px), transparent calc(50% + 1px)),
        var(--wf-box-bg);

    background-size: 9em 9em, auto, auto;
    background-position: 50%;
    background-repeat: no-repeat;
    */


    content: attr(data-wf);
    font: bold 2em Georgia, serif;
    color: var(--wf-wire);

    text-shadow:
        1px 1px 0 var(--wf-box-bg),
        -1px 1px 0 var(--wf-box-bg),
        1px -1px 0 var(--wf-box-bg),
        -1px -1px 0 var(--wf-box-bg),
        1px 0 0 var(--wf-box-bg),
        -1px 0 0 var(--wf-box-bg),
        2px 2px 0 var(--wf-box-bg),
        -2px 2px 0 var(--wf-box-bg),
        2px -2px 0 var(--wf-box-bg),
        -2px -2px 0 var(--wf-box-bg),
        2px 0 0 var(--wf-box-bg),
        -2px 0 0 var(--wf-box-bg),
        3px 3px 0 var(--wf-box-bg),
        -3px 3px 0 var(--wf-box-bg),
        3px -3px 0 var(--wf-box-bg),
        -3px -3px 0 var(--wf-box-bg),
        3px 0 0 var(--wf-box-bg),
        -3px 0 0 var(--wf-box-bg),
        4px 4px 0 var(--wf-box-bg),
        -4px 4px 0 var(--wf-box-bg),
        4px -4px 0 var(--wf-box-bg),
        -4px -4px 0 var(--wf-box-bg),
        4px 0 0 var(--wf-box-bg),
        -4px 0 0 var(--wf-box-bg);

    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.wireframe [data-wf]::after {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    content: "";
    background: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}*/



.wireframe [class^=wf-box] {
    border-style: solid;
    border-width: 1px;
    border-color: var(--wf-wire);
}

.wireframe [class^=wf-box] h1 {
    font-size: 1.625em;
    line-height: 1.1;
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
}



.wireframe [class^=wf-box][class*=white] {
    background-color: #fff;    
}


.wireframe [class^=wf-box][class*=medium-padding] {
    padding-left: $sz-m;
    padding-right: $sz-m;
    padding-top: $sz-m;
    
    &:after {
        content: "";
        display: block;
        margin-bottom: $sz-m;
    }
}











.wireframe [class^=wf-button] {
     display: inline-block;
    /* AK. IE9 needs this. */
    overflow: visible;
    /* S: Internet Explorer 11-, N: Show the overflow in Edge, Firefox, and IE. */
    background-color: #663399;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    min-height: 3rem;
    line-height: 2.4rem;
    margin: 0.3rem 0;
    text-transform: none;
    /* [N0], N: Remove the inheritance of text transform in Edge, Firefox, and IE. */
    /* -webkit-appearance: button; // [N2] */
    -webkit-appearance: none;
    /* AK */
    cursor: pointer;
    /* [N3] */
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 0.3rem;
    padding-top: -moz-calc(0);
    padding-top: calc(0.3rem - 1px);
    padding-bottom: 0.3rem;
    padding-bottom: -moz-calc(0);
    padding-bottom: calc(0.3rem - 1px);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    vertical-align: middle;
    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation;
    /* S: IE10 */
    touch-action: manipulation;
}
    .wireframe [class^=wf-button]:hover,
    .wireframe [class^=wf-button]:active,
    .wireframe [class^=wf-button]:focus {
        box-shadow: 0 0 0 2px #b38cd9 inset;
        outline: 0; 

        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        //margin: 0;
    }