/* --| SETTINGS |-------------------------------------------------------------------------------- */


//@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:400,700,400italic');
//@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
//@import url('https://fonts.googleapis.com/css?family=Lato:300,300i|Nunito:400,700');
//font-family: 'Lato', sans-serif;
//font-family: 'Nunito', sans-serif;
$fallback--base-font-family: 'Lato', sans-serif;

$fallback--root-font-size: 10px;

$fallback--base-ui-color: #0077AD;
$fallback--breakpoint--enhanced: 61em;


//$body-padding: 0;

//$namespace: '.ugc ';
//$namespace: 'main ';


//@import '../bower_components/Fall-Back-Start-CSS/_settings.scss';
@import '../bower_components/Fall-Back-Start-CSS/dist/scss/_start__settings.scss';

$max-main-line-length: 0;
$measure: 64rem;

$h1-font-size: 42px / $fallback--base-font-size * 1em !default;
$h1-height:  $fallback--base-rem-space-unit * 2 !default;
$h2-font-size: 36px / $fallback--base-font-size * 1em !default;
$h2-height:  $fallback--base-rem-space-unit * 1.5 !default;
$h3-font-size: 28px / $fallback--base-font-size * 1em !default;

$experimental_checkradios: true;
@import '../bower_components/Fall-Back-Start-CSS/dist/scss/_start.scss';
@import '../bower_components/Fall-Back-Start-CSS/dist/scss/_start-classes.scss';
@import '../bower_components/Fall-Back-Start-CSS/dist/scss/_start-experimental.scss';


@import '../bower_components/Fall-Back-Base/_icons.scss';

@import "_sizes";

// Inuit:

//$breakpoints: (
//    "palm"          "screen and (max-width: 44.9375em)",
//    "lap"           "screen and (min-width: 45em) and (max-width: 63.9375em)",
//    "lap-and-up"    "screen and (min-width: 45em)",
//    "portable"      "screen and (max-width: 63.9375em)",
//    "desk"          "screen and (min-width: 64em)",
//    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
//) !default;

////@import "bower_components/inuit-defaults/settings.defaults";
//@import "bower_components/inuit-responsive-settings/_settings.responsive.scss";



/* ---------------------------------------------------------------------------------------------- */
/* --| TOKENS |---------------------------------------------------------------------------------- */
$body-padding: $sz-m;

/* ---------------------------------------------------------------------------------------------- */
/* --| FUNCTIONS AND MIXINS |-------------------------------------------------------------------- */

//@import "../bower_components/Fall-Back-Base/_fallback-base";


@mixin bottom-space-fix () {

	padding-bottom: 0 !important;

	&::after {
		content: "";
		display: block;
		margin-top: $fallback--base-rem-space-unit;
		height: 1px;
		margin-bottom: -1px;
	}

}

/* ---------------------------------------------------------------------------------------------- */
/* --| BASE |------------------------------------------------------------------------------------ */

//$max-main-line-length: 0;
//@import "../bower_components/Fall-Back-Start-CSS/_start";

/* ---------------------------------------------------------------------------------------------- */
/* --| FALL-BACK PATTERNS |---------------------------------------------------------------------- */
$fallback--over-panel__contents--offset-top: $sz-m;
$fallback--over-panel__contents--padding: 0;
$fallback--over-panel__overlay--background-color: #000;
@import "../bower_components/Fall-Back-Over-Panel/_over-panel";





/**/
$fallback--nav-bar--background-color:            #fff;
$fallback--nav-bar__link--color:                 #333;
$fallback--nav-bar__link--background-color:      $fallback--nav-bar--background-color;

$fallback--sub-nav--background-color:            $fallback--nav-bar--background-color;
$fallback--sub-nav__link--color:                 $fallback--nav-bar__link--color;
$fallback--sub-nav__link--background-color:      $fallback--nav-bar--background-color;
$fallback--sub-nav__link--background-color--alt: darken($fallback--nav-bar--background-color, 14%);

@import "../bower_components/Fall-Back-Nav-Bar/_nav-bar";

.js-nav-bar .nav-bar__items {
    font-size: 0.85em;
}
/**/


$fallback--dropdown--background-color:         $fallback--nav-bar--background-color;
$fallback--dropdown--text-color:               $fallback--nav-bar__link--color;
$fallback--dropdown__button--color:            $fallback--nav-bar__link--color;
$fallback--dropdown__button--background-color: $fallback--nav-bar__link--background-color;

@import "../bower_components/Fall-Back-Dropdown/_dropdown";

//$fallback--search-form--breakpoint--enhanced: 50em;
@import "../bower_components/Fall-Back-Search-Form/_search-form";


@import "../bower_components/Fall-Back-Sticky-Footer/_sticky-footer";

$fallback-svg--fixed-height:      120px;
$fallback-svg--padding:           16px;
$fallback-svg--border-width:      0;
$fallback-svg--border-color:      #fff;
$fallback-svg--link-bg-color:     #fff;
$fallback-svg--link-bg-color-alt: #fff;
@import "../bower_components/Fall-Back-SVG/_svg";

@include svg--fixed-height(60px, 'svg--fixed-height--banner-logo', 0, 0);
//@include svg--fixed-height(80px, 'svg--fixed-height--logo', 0, 0);
//@include svg--fixed-height(60px, 'svg--fixed-height--parent-logo', 0, 0);
@include svg--fixed-height(($fallback--base-rem-space-unit * 4), 'svg--fixed-height--funder-logo', ($fallback--base-rem-space-unit / 2), 0);


@import "../bower_components/Fall-Back-Cookie-Notice/_cookie-notice";
/* ---------------------------------------------------------------------------------------------- */

/* --| PATTERNS |-------------------------------------------------------------------------------- */

// NO! Not good practice as we'll probably want to adjust vars here.
//@import "patterns/__all";

//$gallery-grid-spacing-unit: $fallback--base-rem-space-unit;
@import "../bower_components/NPEU-layout-patterns/dev/scss/_ff-widths.scss";

/*
.#{$ff-prefix}100--25--50 {
    @include ff-width(100%, 25em, 50%);
}
*/

@import "../bower_components/NPEU-layout-patterns/dev/scss/_scl--pushed-apart.scss";

@import "../bower_components/NPEU-layout-patterns/dev/scss/_scl--n-up.scss";


$gallery-grid-spacing-unit: $fallback--base-rem-space-unit;
@import "../bower_components/NPEU-layout-patterns/dev/scss/_gallery-grid.scss";



//$card--base-color: lighten($fallback--base-ui-color, 60%);


// Pull-over settings - kep for reference:
//$card-body--margin-left: $fallback--base-rem-space-unit;
//$card-body--margin-right: $fallback--base-rem-space-unit;
//$card-body--pull-over: -$fallback--base-rem-space-unit;

@import "component-patterns/_badge.scss";


$brochure-spacing-unit: $fallback--base-rem-space-unit;
$brochure--border-or-outline: false;
@import "component-patterns/_brochure.scss";

$card-title--line-height: $fallback--base-rem-space-unit * 1.25;
$card-spacing-unit: $fallback--base-rem-space-unit;
$card--border-or-outline: 'border';
@import "component-patterns/_card.scss";

$event-spacing-unit: $fallback--base-rem-space-unit;
$event--background-color: #fff;
$event--border-color: $fallback--base-ui-color;
@import "component-patterns/_event.scss";

// Probably need card variants, esp max-widths.
$featurette-spacing-unit: $fallback--base-rem-space-unit;
@import "component-patterns/_featurette.scss";
@include featurette--themer("featurette--dark", #555, #fff);


$glimpse-spacing-unit: $fallback--base-rem-space-unit;
@import "component-patterns/_glimpse.scss";


//@import "_full-width.scss";
@import "component-patterns/_hero.scss";

@media only screen and (min-width:#{$hero-breakpoint}) {
    #hero [wf-box]::before {
        padding-left: 30%
    }
}


//@import "patterns/_page-header.scss";
@import "component-patterns/_page-footer.scss";
@import "component-patterns/_tool-form.scss";





$pagination-spacing-unit: $fallback--base-rem-space-unit;
$pagination--link-color--alt: #ccc;
$pagination--background-color: #fff;
@import "navigation-patterns/_pagination.scss";


$section-menu-spacing-unit: $fallback--base-rem-space-unit;
$section-menu--link-color--alt: #ccc;
$section-menu--background-color: #fff;
@import "navigation-patterns/_section-menu.scss";










$col-to-row-spacing-unit: $fallback--base-rem-space-unit;
@import "layout-patterns/_col-to-row.scss";

//$content-area-max-width: 42em;
@import "layout-patterns/_content-area.scss";

@import "layout-patterns/_proportional-container.scss";

//$panel--padding: $fallback--base-rem-space-unit;
//@import "patterns/_panel.scss";




@import "utility-patterns/_lists.scss";
@import "utility-patterns/_space.scss";
@import "utility-patterns/_text-align.scss";
@import "utility-patterns/_text-groups.scss";

/* ---------------------------------------------------------------------------------------------- */

@import "_themes_config";
@import "_themes";

/* --| WIREFRAME--------------------------------------------------------------------------------- */
// Just testing this out, may not keep. Or probably develop into it's own project.
@import "_wireframe.scss";


/* ---------------------------------------------------------------------------------------------- */


/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame.scss";

/* ---------------------------------------------------------------------------------------------- */
