                    <div class="svg  svg--fixed-height  svg--fixed-height--banner-logo">
                        <a href="/" class="svg__link">
                            <object type="image/svg+xml" data="/img/unit-logos/health-economics-logo.svg" height="100" class="svg__image" aria-hidden="true" tabindex="-1">
                                <svg display="none">
                                    <image src="imgunit-/logos/health-economics-logo.png" height="100" class="svg__fallback-image" alt="NPEU Health Economics home"></image>
                                </svg>
                                <span class="svg__fallback-text-alpha" data-content="NPEU Health Economics home"></span>
                            </object>
                            <div><i class="svg__fallback-text-beta">NPEU Health Economics home</i></div>
                        </a>
                    </div>