{% if page.url != '/' %}
<nav class="" aria-label="Breadcrumbs" wf-area="light+xs-padding+outline">

    <ol class="n-breadcrumbs  u-space--left--s" vocab="http://schema.org/" typeof="BreadcrumbList">
        {% for crumb in breadcrumbs %}
        
        {% if forloop.first and site.breadcrumbs.root.image %}
        <li class="n-breadcrumbs__item" property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
                <span class="icon" property="name">{% include nav-breadcrumb-icon.svg %}</span>
                <meta property="position" content="{{ crumb.position }}" />
            </a>
        </li>
        {% continue %} {% endif %} 
        {% if forloop.last %}
        <li class="n-breadcrumbs__item" property="itemListElement" typeof="ListItem">
            <span property="name">{{ crumb.title }}</span>
            <meta property="position" content="{{ crumb.position }}" />
        </li>
        {% continue %} {% endif %}
        <li class="n-breadcrumbs__item" property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
                <span property="name">{{ crumb.title }}</span>
                <meta property="position" content="{{ crumb.position }}" />
            </a>
        </li>
        
        {% endfor %}
   </ol>
   
</nav>
{% endif %}
