/*
    Text alignment.
    
    @To Do: allow for responsive variations.
*/

$text-align-namespace: u- !default;

.#{$text-align-namespace}text-align--left {
    text-align: left !important;
}

.#{$text-align-namespace}text-align--center {
    text-align: center !important;
}

.#{$text-align-namespace}text-align--right {
    text-align: right !important;
}