/*


*/

$glimpse-namespace: c- !default;
$theme-namespace: t- !default;


$glimpse--base-color: #eee !default;
$glimpse--background-color: lighten($glimpse--base-color, 60);



$glimpse--spacing-unit: 2rem !default;
$glimpse--max-width: 30em !default;
$glimpse--image-size: 7.2rem !default;

$glimpse--base-color: #eee !default;
$glimpse--text-color: #333 !default;
$glimpse--background-color: #fff !default;
$glimpse--border-size: 1px !default;
$glimpse--border-style: solid !default;
$glimpse--border-color: darken($glimpse--background-color, 30%) !default;
/*$glimpse--link-color: false !default;
$glimpse--link-has-border-bottom: false !default;
$glimpse--link-color--alt: false !default;
$glimpse--link-has-border-bottom: false !default;
$glimpse--link-border-bottom: false !default;
$glimpse--link-border-bottom--hover: false !default;*/

$glimpse-heading--font-size: 1.8rem !default;
$glimpse-footer--font-size:  1.4rem !default;



    .#{$glimpse-namespace}glimpse.#{$glimpse-namespace}glimpse {
        position: relative;
        max-width: $glimpse--max-width;
        //@if $glimpse--border-size != false {
        //    border: $glimpse--border-size $glimpse--border-style $glimpse--border-color;
        //}

        //margin-bottom: $glimpse--spacing-unit;

        //padding-top:    $glimpse--spacing-unit;
        //padding-right:  $glimpse--spacing-unit;
        //padding-bottom: $glimpse--spacing-unit;
        padding-left:   $glimpse--image-size + $glimpse--spacing-unit;

        //color: $glimpse--text-color;
        //background-color: $glimpse--background-color;

        min-height: $glimpse--image-size;

        //box-shadow: 0 0 9px inset;
    }

    .#{$glimpse-namespace}glimpse__heading {
        font-size: $glimpse-heading--font-size;
        //line-height: 2rem;
        margin: 0;

        //padding-top: $glimpse--spacing-unit / 2;
        //padding-bottom: $glimpse--spacing-unit / 4;
        //padding-right: $glimpse--spacing-unit;

        a {
            border-bottom: 0;

            &:hover {
                border-bottom: 0;

                span {
                    border-bottom: 1px solid;
                }

                .#{$glimpse-namespace}glimpse__image {
                    outline: 2px solid;
                }
            }
        }
    }

    .#{$glimpse-namespace}glimpse__image {
        width: $glimpse--image-size;
        height: $glimpse--image-size;

        overflow: hidden;

        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid currentColor;

        img {
            vertical-align: middle;
            max-width: 100%;
        }
    }

    @supports(object-fit: cover) {
        .#{$glimpse-namespace}glimpse__image img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .#{$glimpse-namespace}glimpse__content {
        font-size: $glimpse-footer--font-size;

        margin: 0;
    }

    .#{$glimpse-namespace}glimpse__content * {
        margin: 0;
    }

