.page-header {

    &#{&} {
        background-color: $fallback--base-ui-color;
        padding: ($fallback--base-em-ratio * 1.5em) / 3;
        font-size: 0.875em;
        text-align: center;
        color: #fff;
        margin-bottom: 0;
    }
    


    a[href] {
        color: lighten($fallback--base-ui-color, 40%);
    }
    
    a[href]:hover,
    a[href]:active,
    a[href]:focus {
        color: lighten($fallback--base-ui-color, 20%);
    }

}